*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ag-theme-quartz {
    --ag-header-height: 40px;
    --ag-header-foreground-color: #fff;
    --ag-header-background-color: #e4e4e7;
    /* --ag-header-cell-hover-background-color: rgb(80, 40, 140); */
    /* --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
    border: none;
  }
  .ag-theme-quartz .ag-watermark{
    display: none !important;
  }
  .ag-watermark{
    display: none;
  }
  .ag-theme-quartz .ag-watermark::before{
    display: none !important;
  }
  .ag-watermark::before{
    display: none;
  }
  .ag-theme-quartz .ag-watermark-text  {
   display: none;
  }
  .ag-watermark-text{
    display: none;
  }
  .ag-theme-quartz .ag-root-wrapper {
    border-radius: 0;
    border: none;
  }
  .ag-theme-quartz .ag-header {
    font-family: cursive;
    background-color: #fff;
  }
  .ag-theme-quartz .ag-header-group-cell {
    font-weight: normal;
    font-size: 22px;
  }
  .ag-theme-quartz .ag-header-cell {
    font-size: 15px;
   
  }
  .ag-theme-quartz .ag-root-wrapper{
    border-radius: 0;
    }
    /* Applies a thin scrollbar */
    .ag-theme-quartz .ag-root-wrapper::-webkit-scrollbar {
    width: 6px; /* For vertical scrollbars */
    height: 6px; /* For horizontal scrollbars */
  }
  
  /* Applies the thumb color */
  .ag-theme-quartz .ag-body-horizontal-scroll-container::-webkit-scrollbar-thumb {
    background-color: #155e75; /* Equivalent to cyan-800 */
  }
  
  
  
    .ag-theme-quartz .ag-row{
      background-color: #fff;
      height: 60px;
  
  
    }
    .ag-theme-quartz .ag-row:hover{
      background-color: #fff;
    }
    .ag-theme-quartz .ag-cell{
        outline: none;
        border: none;
        padding: 0;
        padding: 0 5px;
    }
    .ag-theme-quartz .ag-cell:focus{
      outline: none;
      border: none;
    }
    .ag-theme-quartz .ag-cell {
      display: flex;
      align-items: center;
    }